.tshirt-container {
    border: 1px solid saddlebrown;
    border-radius: 20px;
}

.tshirt-container img {
    width: 200px;
    height: 220px;
    padding: 10px;
    border-radius: 20px;
}

.btn-buy-now {
    background-color: blueviolet;
    color: white;
    margin-bottom: 10px;
}